@model User
@{
    ViewData["Title"] = "Đăng Nhập / Đăng Ký";
    var viewItemsData = ViewData["Items"];
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Admin/Login.cshtml.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="bg-light">
    <div class="row">
        <div class="col-md-6 mx-auto p-0">
            <div class="card">
                <div class="login-box">
                    <div class="login-snip">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                            class="tab">Đăng Nhập</label>
                        <input id="tab-2" class="sign-up"><label for="tab-2" class="tab"></label>
                        <div class="login-space">
                            <div class="login">
                                @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="group">
                                        <label for="Username" class="label">Tài khoản</label>
                                        <input id="Username" name="Username" type="text" class="input"
                                        placeholder="Nhập tài khoản" required>
                                        <span class="text-danger field-validation-valid" data-valmsg-for="Username"
                                        data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="group">
                                        <label for="Password" class="label">Mật khẩu</label>
                                        <input id="Password" name="Password" type="password" class="input"
                                        data-type="password" placeholder="Nhập mật khẩu" required>
                                        <span class="text-danger field-validation-valid" data-valmsg-for="Password"
                                        data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="group">
                                        <input id="check" type="checkbox" class="check" checked>
                                        <label for="check"><span class="icon"></span> Lưu tài khoản</label>
                                    </div>
                                    <div class="group">
                                        <input type="submit" name="submit" class="button" value="Đăng Nhập">
                                    </div>
                                    @if (TempData["error"] != null)
                                    {
                                        <span class="text-danger">@TempData["error"]</span>
                                    }
                                    <div class="hr"></div>
                                    <div style="padding-left: 15px;" class="foot d-flex justify-content-center">
                                        <p>Chưa có tài khoản?</p>
                                        <a asp-area="" asp-controller="Admin" asp-action="Register">Đăng ký ngay</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>