@{
    ViewData["Title"] = "Đăng Nhập / Đăng Ký";
    var viewItemsData = ViewData["Items"];
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Admin/Login.cshtml.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="bg-light">
    <div class="row">
        <div class="col-md-6 mx-auto p-0">
            <div class="card">
                <div class="login-box">
                    <div class="login-snip">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                            class="tab">Đăng Nhập</label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Đăng
                            Ký</label>
                        <div class="login-space">
                            <div class="login">
                                <div class="group">
                                    <label for="user" class="label">Tài khoản</label>
                                    <input id="user" type="text" class="input" placeholder="Nhập tài khoản">
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Mật Khẩu</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="Nhập mật khẩu">
                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked>
                                    <label for="check"><span class="icon"></span> Lưu tài khoản</label>
                                </div>
                                <div class="group">
                                    <input type="submit" class="button" value="Đăng Nhập">
                                </div>
                                <div class="hr"></div>
                                <div class="foot">
                                    <a href="#">Quên mật khẩu?</a>
                                </div>
                            </div>
                            <div class="sign-up-form">
                                <div class="group">
                                    <label for="user" class="label">Tài khoản</label>
                                    <input id="user" type="text" class="input" placeholder="Nhập tài khoản">
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Mật khẩu</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="Nhập mật khẩu">
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Nhập lại mật khẩu</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="Nhập mật khẩu">
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Địa chỉ email</label>
                                    <input id="pass" type="text" class="input" placeholder="Nhập địa chỉ email">
                                </div>
                                <div class="group">
                                    <input type="submit" class="button" value="Đăng Ký">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>