@using Newtonsoft.Json;
@{
    var context = Context.Session;
    var viewUsersdata = ViewData["Users"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cơm Nhé ?</title>
    <link rel="stylesheet preload" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet preload" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet preload" href="~/FirstAspNetApp.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet preload'>
    <link rel="stylesheet preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css">
    <link rel="stylesheet preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    
    <button type="button" class="btn btn-floating" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="ThisImg">
                    <a style="width: 200px;" class="navbar-brand" asp-area="" asp-controller="Home"
                        asp-action="Index"><img src="~/image/logo.png" width="20%" height="20%"><b>Cơm Nhé ?</b></a>
                </div>
                <div class="ThisCart">
                    <a class="nav-link text-dark ThisCart" asp-action="Cart">
                        @await Html.PartialAsync("_CartPartial")
                    </a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <button type="button" class="btn  search" data-toggle="modal" data-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form asp-action="Search" method="get" id="f_search">
                                        <input id="search4This" type="text" name="searchString"
                                            placeholder="Nhập gì đó..." />
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path
                                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav flex-grow-1 animUl MainRespon">
                        <div class="SearchRespon">
                            <li class="nav-item SearchRespon">
                                <form asp-action="Search" method="get" id="f_search" class="pt-2 pb-3">
                                    <input style="background-color: rgb(231, 230, 230);" class="px-2 py-2"
                                        id="search4This" type="text" name="searchString" placeholder="Nhập gì đó..." />
                                    <button class="pt-2" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </button>
                                </form>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang
                                Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Danh Mục Sản Phẩm</a>
                            <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-dark border-bottom" asp-area="" asp-controller="Product"
                                    asp-action="DoAnKem">• Đồ Ăn Kèm</a>
                                <a class="dropdown-item text-dark border-bottom" asp-area="" asp-controller="Product"
                                    asp-action="Thit">• Thịt</a>
                                <a class="dropdown-item text-dark border-bottom" asp-area="" asp-controller="Product"
                                    asp-action="Rau">• Rau</a>
                                <a class="dropdown-item text-dark border-bottom" asp-area="" asp-controller="Product"
                                    asp-action="Canh">• Canh</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Product"
                                    asp-action="Nuoc">• Nước</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Thông
                                Báo</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product"
                                asp-action="Index">Product</a>
                        </li>-->

                        <li class="nav-item LoginRespon">
                            <a class="nav-link text-dark LoginRespon" href="#">Đăng Nhập</a>
                        </li>
                        <li class="nav-item LoginRespon">
                            <a class="nav-link text-dark LoginRespon" href="#">Đăng Ký</a>
                        </li>
                    </ul>
                </div>
                <div class="CartandUser">
                    <a class="nav-link text-dark" asp-action="Cart">
                        @await Html.PartialAsync("_CartPartial")
                    </a>
                    <div class="UserThis">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="color: black;"><svg
                                xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg></a>
                        <div class="UserDrop dropdown-menu animate slideIn text-center"
                            aria-labelledby="navbarDropdown">
                            @if (context.GetString("Fullname") != null)
                            {
                                if (context.GetInt32("Role") == 1)
                                {
                                    <a class="dropdown-item text-dark text-center" asp-area="" asp-controller="Admin"
                                asp-action="AdminPanel">Tài khoản</a>
                                }
                                else if (context.GetInt32("Role") == 2)
                                {
                                    <a class="dropdown-item text-dark text-center"
                                href="@Url.Action("UserPanel", "Admin", new { id = context.GetInt32("UserId") })">Tài
                                        khoản</a>
                                }
                                <a href="@Url.Action("Logout","Admin")"
                                class="dropdown-item text-dark text-center">Thoát</a>
                            }

                            else
                            {
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin"
                                asp-action="Login">Đăng Nhập</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin"
                                asp-action="Register">Đăng Ký</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="site-footer footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <h6 style="color:black;">Về chúng tôi</h6>
                    <p class="text-justify">Website chính thức và duy nhất<br> của Cơm nhé ?.Mọi thông tin chi
                        tiết<br>xin liên hệ số điện thoại <a style="text-decoration: none; color:rgb(0, 119, 132);"
                            href="tel:1234567890">1234567890</a></p>
                </div>

                <div class="col-xs-6 col-md-4">
                    <h6 style="color:black;">Danh Mục Sản Phẩm</h6>
                    <ul class="footer-links">
                        <li><a style="text-decoration: none; color:rgb(0, 119, 132);"
                                onMouseOver="this.style.color='rgb(64, 64, 252)'"
                                onMouseOut="this.style.color='rgb(0, 119, 132)'" asp-area="" asp-controller="Product"
                                asp-action="DoAnKem">• Đồ Ăn Kèm</a></li>
                        <li><a style="text-decoration: none; color:rgb(0, 119, 132);"
                                onMouseOver="this.style.color='rgb(64, 64, 252)'"
                                onMouseOut="this.style.color='rgb(0, 119, 132)'" asp-area="" asp-controller="Product"
                                asp-action="Thit">• Thịt</a></li>
                        <li><a style="text-decoration: none; color:rgb(0, 119, 132);"
                                onMouseOver="this.style.color='rgb(64, 64, 252)'"
                                onMouseOut="this.style.color='rgb(0, 119, 132)'" asp-area="" asp-controller="Product"
                                asp-action="Rau">• Rau</a></li>
                        <li><a style="text-decoration: none; color:rgb(0, 119, 132);"
                                onMouseOver="this.style.color='rgb(64, 64, 252)'"
                                onMouseOut="this.style.color='rgb(0, 119, 132)'" asp-area="" asp-controller="Product"
                                asp-action="Canh">• Canh</a></li>
                        <li><a style="text-decoration: none; color:rgb(0, 119, 132);"
                                onMouseOver="this.style.color='rgb(64, 64, 252)'"
                                onMouseOut="this.style.color='rgb(0, 119, 132)'" asp-area="" asp-controller="Product"
                                asp-action="Nuoc">• Nước</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6 style="color:black;">Thông Tin</h6>
                    <ul class="footer-links">
                        <li><a href="#">• Giới Thiệu</a></li>
                        <li><a href="#">• Chính Sách Bảo Mật</a></li>
                        <li><a href="#">• Điều Khoản</a></li>
                        <li><a href="#">• Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr class="hr-text">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright 2022 &copy; Cơm Nhé ?</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
