@{
    ViewData["Title"] = "Checkout";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Shared/Checkout.cshtml.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="bg-light">


    <div class="row justify-content-center">
        <div class="col-md-8 hh-grayBox">
            <div class="row justify-content-between">
                <div class="order-tracking completed">
                    <span class="is-complete"></span>
                    <p>Đặt hàng</p>
                </div>
                <div class="order-tracking completed">
                    <span class="is-complete"></span>
                    <p>Giao hàng</p>
                </div>
                <div class="order-tracking completed">
                    <span class="is-complete"></span>
                    <p>Thành công</p>
                </div>
            </div>
        </div>
    </div>

    <h1>
        <span>Order</span>
        <span>thành</span>
        <span>công</span>
        <span>!</span>
        <span>Quay</span>
        <span>về</span>
        <span>trang!</span><br>
        <span>chủ</span>
        <span>order</span>
        <span>thêm</span>
        <span>nhé.</span>
    </h1>
    <div class="coverThis">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <p class="BackToHome">Trang Chủ</p>
        </a>
    </div>
</body>