/*****************globals*************/
*[b-w11e45rlk6] {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.heading-section[b-w11e45rlk6] {
    text-align: left;
    margin-bottom: 20px;
}

.sub-heading[b-w11e45rlk6] {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section a[b-w11e45rlk6] {
    text-decoration: none;
    font-size: 2.5vmin;
    padding-top: 10px;
    padding-bottom: 15px;
}

.user-img[b-w11e45rlk6] {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.carousel-testimonial .item[b-w11e45rlk6] {
    padding: 30px 10px;
}

.quote[b-w11e45rlk6] {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}

.name[b-w11e45rlk6] {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position[b-w11e45rlk6] {
    color: #adadad;
    font-size: 14px;
}

.owl-nav button[b-w11e45rlk6] {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}

.owl-nav button svg[b-w11e45rlk6] {
    width: 25px;
    height: 25px;
}

.owl-nav button.owl-prev[b-w11e45rlk6] {
    left: 25px;
}

.owl-nav button.owl-next[b-w11e45rlk6] {
    right: 25px;
}

.owl-nav button span[b-w11e45rlk6] {
    font-size: 45px;
}

.product-thumb .item img[b-w11e45rlk6] {
    background: none;
    height: 417px;
}

.product-name[b-w11e45rlk6] {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.product-price-discount[b-w11e45rlk6] {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}

.product-price-discount span.line-through[b-w11e45rlk6] {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}

.display-flex[b-w11e45rlk6] {
    display: flex;
}

.align-center[b-w11e45rlk6] {
    align-items: center;
}

.product-info[b-w11e45rlk6] {
    width: 100%;
}

.reviews-counter[b-w11e45rlk6] {
    font-size: 13px;
}

.reviews-counter span[b-w11e45rlk6] {
    vertical-align: -2px;
}

.rate[b-w11e45rlk6] {
    float: left;
    padding: 0 10px 0 0;
}

.rate:not(:checked)>input[b-w11e45rlk6] {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label[b-w11e45rlk6] {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color: #ccc;
    margin-bottom: 0;
    line-height: 21px;
}

.rate:not(:checked)>label[b-w11e45rlk6]:before {
    content: '\2605';
}

.rate>input:checked~label[b-w11e45rlk6] {
    color: #ffc700;
}

.rate:not(:checked)>label:hover[b-w11e45rlk6],
.rate:not(:checked)>label:hover~label[b-w11e45rlk6] {
    color: #deb217;
}

.rate>input:checked+label:hover[b-w11e45rlk6],
.rate>input:checked+label:hover~label[b-w11e45rlk6],
.rate>input:checked~label:hover[b-w11e45rlk6],
.rate>input:checked~label:hover~label[b-w11e45rlk6],
.rate>label:hover~input:checked~label[b-w11e45rlk6] {
    color: #c59b08;
}

.product-dtl p[b-w11e45rlk6] {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}

.product-dtl .form-control[b-w11e45rlk6] {
    font-size: 15px;
}

.product-dtl label[b-w11e45rlk6] {
    line-height: 16px;
    font-size: 15px;
}

.form-control:focus[b-w11e45rlk6] {
    outline: none;
    box-shadow: none;
}

.product-count[b-w11e45rlk6] {
    margin-top: 15px;
}

.value-button[b-w11e45rlk6] {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover[b-w11e45rlk6] {
    cursor: pointer;
}

form #decrease[b-w11e45rlk6] {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase[b-w11e45rlk6] {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap[b-w11e45rlk6] {
    margin: 0px;
    padding: 0px;
}

input#number[b-w11e45rlk6] {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 25px;
}


input[type=number][b-w11e45rlk6]::-webkit-inner-spin-button,
input[type=number][b-w11e45rlk6]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.round-black-btn[b-w11e45rlk6] {
    border-radius: 4px;
    background: rgb(0, 119, 132);
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px rgb(0, 119, 132);
    transition: all 0.5s ease-in-out 0s;
}

.round-black-btn:hover[b-w11e45rlk6],
.round-black-btn:focus[b-w11e45rlk6] {
    background: transparent;
    color: rgb(0, 119, 132);
    text-decoration: none;
    border: solid 2px rgb(0, 119, 132);
}

.product-info-tabs[b-w11e45rlk6] {
    margin-top: 25px;
}

.product-info-tabs .nav-tabs[b-w11e45rlk6] {
    border-bottom: 2px solid #d8d8d8;
}

.product-info-tabs .nav-tabs .nav-item[b-w11e45rlk6] {
    margin-bottom: 0;
}

.product-info-tabs .nav-tabs .nav-link[b-w11e45rlk6] {
    border: none;
    border-bottom: 2px solid transparent;
    color: #323232;
}

.product-info-tabs .nav-tabs .nav-item .nav-link:hover[b-w11e45rlk6] {
    border: none;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link[b-w11e45rlk6],
.product-info-tabs .nav-tabs .nav-link.active[b-w11e45rlk6],
.product-info-tabs .nav-tabs .nav-link.active:hover[b-w11e45rlk6] {
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-weight: bold;
}

.product-info-tabs .tab-content .tab-pane[b-w11e45rlk6] {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
}

.review-form .form-group[b-w11e45rlk6] {
    clear: both;
}

.mb-20[b-w11e45rlk6] {
    margin-bottom: 20px;
}

.review-form .rate[b-w11e45rlk6] {
    float: none;
    display: inline-block;
}

.reviewCover[b-w11e45rlk6] {
    display: flex;
    justify-content: space-between;
}

.review-heading[b-w11e45rlk6] {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}

.formCover[b-w11e45rlk6] {
    border: 2px solid rgb(0, 119, 132);
    padding: 25px;
    height: 585px;
}

.review-form .form-control[b-w11e45rlk6] {
    font-size: 14px;
}

.review-form input.form-control[b-w11e45rlk6] {
    height: 40px;
}

.review-form textarea.form-control[b-w11e45rlk6] {
    resize: none;
}

.review-form .round-black-btn[b-w11e45rlk6] {
    text-transform: uppercase;
    cursor: pointer;
}

/*   Product Card   */
.containerCard[b-w11e45rlk6] {
    margin: 30px auto
}

.containerCard .product-item[b-w11e45rlk6] {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0
}

.containerCard .product-item .product[b-w11e45rlk6] {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.containerCard .product-item .product img[b-w11e45rlk6] {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.containerCard .product-item .product .icons .icon[b-w11e45rlk6] {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer
}

.containerCard .product-item .product .icons .icon:hover[b-w11e45rlk6] {
    background-color: rgb(0, 119, 132);
    color: #fff
}

.containerCard .product-item .product .icons .icon:nth-last-of-type(3)[b-w11e45rlk6] {
    transition-delay: 0.2s
}

.containerCard .product-item .product .icons .icon:nth-last-of-type(2)[b-w11e45rlk6] {
    transition-delay: 0.15s
}

.containerCard .product-item .product .icons .icon:nth-last-of-type(1)[b-w11e45rlk6] {
    transition-delay: 0.1s
}

.containerCard .product-item:hover .product .icons .icon[b-w11e45rlk6] {
    transform: translateY(-60px)
}

.containerCard .product-item .tag[b-w11e45rlk6] {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem
}

.containerCard .product-item .title[b-w11e45rlk6] {
    font-size: 0.95rem;
    letter-spacing: 0.5px
}

.containerCard .product-item .fa-star[b-w11e45rlk6] {
    font-size: 0.65rem;
    color: goldenrod
}

.containerCard .product-item .price[b-w11e45rlk6] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600
}

.fw-800[b-w11e45rlk6] {
    font-weight: 800
}

.bg-green[b-w11e45rlk6] {
    background-color: #208f20 !important;
    color: #fff
}

.bg-black[b-w11e45rlk6] {
    background-color: #1f1d1d;
    color: #fff
}

.bg-red[b-w11e45rlk6] {
    background-color: #bb3535;
    color: #fff
}

/*   Product Card   */

/*   Review Section   */

.rating[b-w11e45rlk6] {
    color: rgb(255, 226, 52);
}

.card-white .h5[b-w11e45rlk6] {
    font-size: 14px;
}

.card-white .time[b-w11e45rlk6] {
    font-size: 12px;
}

.post .post-heading[b-w11e45rlk6] {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar[b-w11e45rlk6] {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}

.post .post-heading .meta .title[b-w11e45rlk6] {
    margin-bottom: 0;
}

.post .post-heading .meta .title a[b-w11e45rlk6] {
    color: black;
}

.post .post-heading .meta .title a:hover[b-w11e45rlk6] {
    color: #aaaaaa;
}

.post .post-heading .meta .time[b-w11e45rlk6] {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image[b-w11e45rlk6] {
    width: 100%;
    height: auto;
}

.post .post-description[b-w11e45rlk6] {
    padding: 15px;
}

.post .post-description p[b-w11e45rlk6] {
    font-size: 14px;
}

.post .post-description .stats[b-w11e45rlk6] {
    margin-top: 20px;
}

.post .post-description .stats .stat-item[b-w11e45rlk6] {
    display: inline-block;
    margin-right: 15px;
}

.post .post-description .stats .stat-item .icon[b-w11e45rlk6] {
    margin-right: 8px;
}

.post .post-footer[b-w11e45rlk6] {
    padding: 15px;
}

.post .post-footer .input-group-addon a[b-w11e45rlk6] {
    color: #454545;
}

.post .post-footer .comments-list[b-w11e45rlk6] {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment[b-w11e45rlk6] {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar[b-w11e45rlk6] {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading[b-w11e45rlk6] {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user[b-w11e45rlk6] {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time[b-w11e45rlk6] {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body[b-w11e45rlk6] {
    margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list[b-w11e45rlk6] {
    margin-left: 50px;
}

@media (max-width:575px) {
    .product-name[b-w11e45rlk6] {
        margin-top: 15px;
    }

    .reviewCover[b-w11e45rlk6] {
        display: block;
    }

    .formCover[b-w11e45rlk6] {
        height: 630px;
    }
}