*[b-lfppxljbpl] {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.Holder[b-lfppxljbpl] {
    width: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paddingItem[b-lfppxljbpl] {
    padding-left: 2%;
    padding-right: 2%;
}

@media (max-width:575px) {
    .Holder[b-lfppxljbpl] {
        width: 49.2%;
    }
}

.navbar-nav .nav-link[b-lfppxljbpl] {
    color: #000 !important;
    padding: 0.5rem 0rem !important;
    border-color: transparent;
}

.navbar .navbar-toggler:focus[b-lfppxljbpl] {
    box-shadow: none
}

.navbar-nav .nav-link.active[b-lfppxljbpl],
.border-red[b-lfppxljbpl] {
    border-bottom: 3px solid rgb(0, 119, 132)
}

.navbar-nav .nav-link:hover[b-lfppxljbpl] {
    border-bottom: 3px solid rgb(0, 119, 132);
}

.paddingItem .product-item[b-lfppxljbpl] {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0
}

.paddingItem .product-item .product[b-lfppxljbpl] {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.paddingItem .product-item .product img[b-lfppxljbpl] {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.paddingItem .product-item .product .icons .icon[b-lfppxljbpl] {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer
}

.paddingItem .product-item .product .icons .icon:hover[b-lfppxljbpl] {
    background-color: rgb(0, 119, 132);
    color: #fff
}

.paddingItem .product-item .product .icons .icon:nth-last-of-type(3)[b-lfppxljbpl] {
    transition-delay: 0.2s
}

.paddingItem .product-item .product .icons .icon:nth-last-of-type(2)[b-lfppxljbpl] {
    transition-delay: 0.15s
}

.paddingItem .product-item .product .icons .icon:nth-last-of-type(1)[b-lfppxljbpl] {
    transition-delay: 0.1s
}

.paddingItem .product-item:hover .product .icons .icon[b-lfppxljbpl] {
    transform: translateY(-60px)
}

.paddingItem .product-item .tag[b-lfppxljbpl] {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem
}

.paddingItem .product-item .title[b-lfppxljbpl] {
    font-size: 0.95rem;
    letter-spacing: 0.5px
}

.paddingItem .product-item .fa-star[b-lfppxljbpl] {
    font-size: 0.65rem;
    color: goldenrod
}

.paddingItem .product-item .price[b-lfppxljbpl] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600
}

.fw-800[b-lfppxljbpl] {
    font-weight: 800
}

.bg-green[b-lfppxljbpl] {
    background-color: #208f20 !important;
    color: #fff
}

.bg-black[b-lfppxljbpl] {
    background-color: #1f1d1d;
    color: #fff
}

.bg-red[b-lfppxljbpl] {
    background-color: #bb3535;
    color: #fff
}

@media (max-width: 575px) {

    .navbar[b-lfppxljbpl] {
        display: none;
    }

    .Holder[b-lfppxljbpl] {
        width: 49.3%;
    }
}