*[b-jd1vi0qglz] {
    font-family: 'Montserrat';
    box-sizing: border-box;
  }

.badge[b-jd1vi0qglz] {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href][b-jd1vi0qglz],
.badge-warning[href][b-jd1vi0qglz] {
    background-color: #c67605;
}

#lblCartCount[b-jd1vi0qglz] {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}