/*****************globals*************/
* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.heading-section {
    text-align: left;
    margin-bottom: 20px;
}

.sub-heading {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section a {
    text-decoration: none;
    font-size: 2.5vmin;
    padding-top: 10px;
    padding-bottom: 15px;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}

.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position {
    color: #adadad;
    font-size: 14px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}

.owl-nav button svg {
    width: 25px;
    height: 25px;
}

.owl-nav button.owl-prev {
    left: 25px;
}

.owl-nav button.owl-next {
    right: 25px;
}

.owl-nav button span {
    font-size: 45px;
}

.product-thumb .item img {
    background: none;
    height: 417px;
}

.product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.product-price-discount {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}

.product-price-discount span.line-through {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.product-info {
    width: 100%;
}

.reviews-counter {
    font-size: 13px;
}

.reviews-counter span {
    vertical-align: -2px;
}

.rate {
    float: left;
    padding: 0 10px 0 0;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color: #ccc;
    margin-bottom: 0;
    line-height: 21px;
}

.rate:not(:checked)>label:before {
    content: '\2605';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.product-dtl p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}

.product-dtl .form-control {
    font-size: 15px;
}

.product-dtl label {
    line-height: 16px;
    font-size: 15px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.product-count {
    margin-top: 15px;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 25px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.round-black-btn {
    border-radius: 4px;
    background: rgb(0, 119, 132);
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px rgb(0, 119, 132);
    transition: all 0.5s ease-in-out 0s;
}

.round-black-btn:hover,
.round-black-btn:focus {
    background: transparent;
    color: rgb(0, 119, 132);
    text-decoration: none;
    border: solid 2px rgb(0, 119, 132);
}

.product-info-tabs {
    margin-top: 25px;
}

.product-info-tabs .nav-tabs {
    border-bottom: 2px solid #d8d8d8;
}

.product-info-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
}

.product-info-tabs .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #323232;
}

.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
    border: none;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-weight: bold;
}

.product-info-tabs .tab-content .tab-pane {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
}

.review-form .form-group {
    clear: both;
}

.mb-20 {
    margin-bottom: 20px;
}

.review-form .rate {
    float: none;
    display: inline-block;
}

.reviewCover {
    display: flex;
    justify-content: space-between;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}

.formCover {
    border: 2px solid rgb(0, 119, 132);
    padding: 25px;
    height: 585px;
}

.review-form .form-control {
    font-size: 14px;
}

.review-form input.form-control {
    height: 40px;
}

.review-form textarea.form-control {
    resize: none;
}

.review-form .round-black-btn {
    text-transform: uppercase;
    cursor: pointer;
}

/*   Product Card   */
.containerCard {
    margin: 30px auto
}

.containerCard .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0
}

.containerCard .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.containerCard .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.containerCard .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer
}

.containerCard .product-item .product .icons .icon:hover {
    background-color: rgb(0, 119, 132);
    color: #fff
}

.containerCard .product-item .product .icons .icon:nth-last-of-type(3) {
    transition-delay: 0.2s
}

.containerCard .product-item .product .icons .icon:nth-last-of-type(2) {
    transition-delay: 0.15s
}

.containerCard .product-item .product .icons .icon:nth-last-of-type(1) {
    transition-delay: 0.1s
}

.containerCard .product-item:hover .product .icons .icon {
    transform: translateY(-60px)
}

.containerCard .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem
}

.containerCard .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px
}

.containerCard .product-item .fa-star {
    font-size: 0.65rem;
    color: goldenrod
}

.containerCard .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600
}

.fw-800 {
    font-weight: 800
}

.bg-green {
    background-color: #208f20 !important;
    color: #fff
}

.bg-black {
    background-color: #1f1d1d;
    color: #fff
}

.bg-red {
    background-color: #bb3535;
    color: #fff
}

/*   Product Card   */

/*   Review Section   */

.rating {
    color: rgb(255, 226, 52);
}

.card-white .h5 {
    font-size: 14px;
}

.card-white .time {
    font-size: 12px;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image {
    width: 100%;
    height: auto;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}

.post .post-footer {
    padding: 15px;
}

.post .post-footer .input-group-addon a {
    color: #454545;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
    margin-left: 50px;
}

@media (max-width:575px) {
    .product-name {
        margin-top: 15px;
    }

    .reviewCover {
        display: block;
    }

    .formCover {
        height: 630px;
    }
}