@{
    ViewData["Title"] = "Tác giả";
    var viewItemsData = ViewData["Items"];
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="bg-light">
    <div class="main-content">
        <div class="container mt-7 Over">
            <!-- Table -->
            <div class="row Obtain" id="FirstSight">
                <div class="m-auto">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="https://i.pinimg.com/originals/6b/0a/ae/6b0aae375a530c8f0de1327bae2eef55.jpg"
                                            class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=100048246761360"
                                    class="btn btn-sm btn-default float-right"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3>
                                    Nguyễn Duy<span class="font-weight-light">, 20</span>
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>Hà Nội, Việt Nam
                                </div>
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>Web Developer - WD07
                                </div>
                                <div>
                                    <i class="ni education_hat mr-2"></i>VTC Academy
                                </div>
                                <hr class="my-4">
                                <h4>Task</h4>
                                <p>UI/UX Design</p>
                                <p>Database</p>
                                <p>Function</p>
                                <p>Reports</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Obtain">
                <div class="m-auto">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="https://ae01.alicdn.com/kf/HTB1m6ZLSFXXXXbGaXXXq6xXFXXXC.jpg?size=441337&height=800&width=800&hash=57bd76e7082696cc0af93aba297a2c11"
                                            class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/xamac.bao.7" class="btn btn-sm btn-default float-right"><i
                                        class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3>
                                    Vũ Đăng<span class="font-weight-light">, 20</span>
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>Hải Dương, Việt Nam
                                </div>
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>Web Developer - WD07
                                </div>
                                <div>
                                    <i class="ni education_hat mr-2"></i>VTC Academy
                                </div>
                                <hr class="my-4">
                                <h4>Task</h4>
                                <p>UI/UX Design</p>
                                <p>Database</p>
                                <p>Function</p>
                                <p>Reports</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>