@{
    ViewData["Title"] = "Thông Báo";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Home/Privacy.cshtml.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body class="bg-light">

    <h3 align="center" class="text-danger">Thông Báo</h3>

    <h1>
        <span>Hiện</span>
        <span>chưa</span>
        <span>có</span>
        <span>thông</span>
        <span>báo</span>
        <span>nào</span>
        <span>hết!</span><br>
        <span>Quay</span>
        <span>trở</span>
        <span>về</span>
        <span>trang</span>
        <span>chủ</span>
        <span>nhé.</span>
    </h1>
    <div class="coverThis">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <p class="BackToHome">Trang Chủ</p>
        </a>
    </div>
</body>